html {
  height: 100%;
  width: 100%;
}

body{
  background-color: #08c9e2;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 123, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand:hover{
  cursor: pointer;
}

.card{
  margin: 2rem;
}

.lists{
  background-color: white;
}

.lists ul{
  list-style-type: none !important;
}
